{# 'app/Resources/views/base.html.twig' #}
<!DOCTYPE HTML>
<html>
    <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% stylesheets "@CiviMobileBundle/Resources/public/jquery.mobile-1.0/jquery.mobile-1.0.min.css" %}
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
    {% endstylesheets %}
    {% javascripts 
        '@CiviMobileBundle/Resources/public/jquery.mobile-1.0/jquery-1.7.1.min.js'
        '@CiviMobileBundle/Resources/public/jquery.mobile-1.0/jquery.mobile-1.0.js'
        'http://civicrm41/sites/civicrm41/modules/civicrm/js/rest.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>
