{% extends 'CiviMobileBundle::base.html.twig' %}

{% block content %}

<form action="{{ path('contact_edit') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}

    <input type="submit" value="Save" />
</form>

{% endblock %}
